<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="camera" (click)="addNewPhoto()">
      <ion-icon aria-hidden="true" name="camera"></ion-icon>
      <ion-label>Camera</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="library">
      <ion-icon aria-hidden="true" name="library"></ion-icon>
      <ion-label>Library</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
