<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Models
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Models</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="grid-container ion-padding">
    <div class="grid-box" *ngFor="let model of this.tensorflowService.models">
      <img src={{model.modelicon}} alt="floralens" height="90px" width="90px"> <br>
      {{model.modelname}}
    </div>
  </div>

  <!--<ion-grid>
    <ion-row>
      <ion-col *ngFor="let model of this.tensorflowService.models">
        <ion-card>
          <ion-card-content color="dark">
            <img src="../../assets/icon/flower.png" alt="ups">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>-->
</ion-content>
